image: node:20

stages:
  - build
  - deploy

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - .npm/
    - node_modules/

variables:
  npm_config_cache: "$CI_PROJECT_DIR/.npm"

build:
  stage: build
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
  script:
    - npm ci

    - export DEPLOY_TARGET=GH_PAGES
    - export REPO_NAME="${CI_PROJECT_NAME}"


    - npm run build
  artifacts:
    paths:
      - out
    expire_in: 1 week

pages:
  stage: deploy
  needs: ["build"]
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
  script:
    - rm -rf public
    - mv out public
  artifacts:
    paths:
      - public
